{% extends 'base.html' %}
{% block content %}

<h1>About Gamers Hub</h1>
<div class="subtitle">
    Gamers Hub is your go to for a best-in-class gaming experience.<br> We deal in gaming stations, gaming chairs, gaming headsets and accessories related to gaming.<br> Built to last, our products incorporate special craftsmanship to ensure you get only the finest good, tailor-made for you.<br><br><br>
  Go Wild, Go Strong , Go Gaming <br>
  <p>Level up your gaming skills with our range of innovative and premium gaming gears.</p>
</div>
{% endblock content %} 
{% block title %}About Us{% endblock title %}
{% comment %} {% block body %}
<h1>About Us</h1>
{% endblock body %} {% endcomment %}